/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}

.nav-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding-left: 3%;
}
.heading-container {
  width: 100%;
  margin: auto;
}

.logo-container {
  display: flex; 
  align-items: center;
}

.navbar {
  background-color: #e21833;
  color: #fff;
  padding: 20px 0;
}

.logo {
  font-size: 2.5rem;
  margin: 0;
}

.dhoom-logo {
  font-size: 2.5rem;
  width: 50%;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.body-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.body-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.body-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  background-color: #e82c2c;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d41c1c;
}

/* Contact form styles */
form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 20px;
  text-align: left; /* Align form elements to the left */
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #e82c2c;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d41c1c;
}

/* Add this CSS to the end of your App.css file */

.social-links {
  margin-top: 40px;
}

.social-links h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.social-links ul li a:hover {
  color: #e82c2c;
}

